@using DVDRental.Operational.ApplicationService.ApplicationViews
@model PickListView


<p>Pick List For: @Model.AssignedTo</p>
@using (Html.BeginForm("Assign", "Pick")) {
    <p><input class="btn" value="分派" type="submit" /></p>
}
<hr />
@foreach (PickRequestView request in Model.PickRequests) {
    <div class="row-fluid">
        <div class="span6">
            <h3>@request.FilmTitle</h3>
            <p>申请时间: @request.Requested</p>
            <p>Dispatch to:</p>
            <p>221B Baker St,</p>
            <p>London</p>
            <p>Greater London</p>
            <p>NW1 6XE</p>
        </div>

        <div class="span6">
            <h3>落实</h3>
            @foreach (int dvdId in request.DvdIdsToFulfil) {
                using (Html.BeginForm("Dispatch", "Pick")) {
                    <input type="hidden" name="FulfilmentRequestId" value="@request.FulfilmentRequestId" />
                    <input type="hidden" name="DvdId" value="@dvdId" />
                    <p><input class="btn" value="DVD ID: @dvdId" type="submit" /></p>
                }
            }
        </div>
    </div>
        <hr />
}


